{% extends 'signup/base.html' %}

    {% block content %}
        {% for signup in signups %}
            <div class="signup-form-results">
                <p>Name: {{signup.name}}</p>
                <p>Email: {{signup.email}}</p>
                <p>Number: {{signup.number}}</p>
                <p>Role: {{signup.role}}</p>
                <p>Date of Birth: {{signup.dob}}</p>
                <p>Last Employment: {{signup.last_employment}}</p>
                <p>Criminal: {{signup.criminal}}</p>

                <p>-------------------------</p>
            </div>
        {% endfor %}

        
    {% endblock %}
