{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lil Africa Home Page</title>
        
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>
    <body>
    
            <header class="top-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-5 header-logo">
                                <br>
                                <a href="{% url 'homepage' %}"><img src="{% static 'img/gainesville.jpg' %}" alt="" class="img-responsive logo"></a>
                            </div>
            
                            <div class="col-md-7">
                                <nav class="navbar navbar-default">
                                  <div class="container-fluid nav-bar">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                      </button>
                                    </div>
            
                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                      
                                      <ul class="nav navbar-nav navbar-right">
                                        <li><a class="menu active" href="#home" >Home</a></li>
                                        <li><a class="menu" href="#about">about us</a></li>
                                        <li><a class="menu" href="#service">our services </a></li>
                                        <li><a class="menu" href="#contact"> sign up</a></li>
                                      </ul>
                                    </div><!-- /navbar-collapse -->
                                  </div><!-- / .container-fluid -->
                                </nav>
                            </div>
                        </div>
                    </div>
                </header> <!-- end of header area -->
        <div class="page-header">
            <h1><a href="{% url 'homepage' %}" style="color: white;">Lil Africa Home Page</a></h1>
        </div>
        
        <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
        </div>
        
        {% block scripts %}

            <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
            <script src="{% static 'js/popper.min.js' %}"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <!-- You can alternatively load the minified version -->
            <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
        {% endblock scripts %}

        {% block extrascripts %}{% endblock extrascripts %}
    </body>
</html>